<ul id="nav-mobile" class="side-nav fixed">
    <a href="#" class="brand-logo"><h4 class="header">Spellbook</h4></a>
    <li class="bold all" ng-class="{'active': currentClassName == 'all'}" style="cursor:pointer">
        <a ng-click="setCurrentClass('all')">All classes</a>
    </li>
    <li class="bold" ng-repeat="class in classes" ng-class="getLiClass(class)" style="cursor:pointer">
        <a ng-click="setCurrentClass(class.name)">{{class.name}}</a>
    </li>

</ul>
<div class="container">
    <br/>
    <br/>
    <br/>
    <div class="row center">
        <div class="input-field col s12 m8 l8 offset-l2">
            <input id="spellname" type="text" ng-model="spellName" auto-focus>
            <label for="spellname">Search spell name</label>
        </div>
        <div class="input-field col s12 m4 l2">
            <input type="checkbox" id="favs" ng-model="favs"/>
            <label for="favs">
                <i class="medium mdi-action-star-rate favourite-icon-active"></i></label>
        </div>
    </div>
    <div ng-repeat="spellLevel in spellLevels">
    <span>
        <h4>{{spellLevel > 0 ? "Level " + spellLevel : "Cantrips"}}</h4>
    </span>
        <div class="row">
            <div class="col s12 m6 l4 hideable-item"
                 ng-repeat="spell in spells | filter: {name: filterQuery} | favourites: favs | hasClass: currentClassName | hasLevel: spellLevel">
                <div class="card old-card">
                    <div class="card-content">
                    <span class="">
                        <h4>
                            {{spell.name}}
                            <a ng-click="toggleActive(spell)" ng-class="{'favourite-icon-active': spell.fav == true}"
                               class="favourite-icon pull-right">
                                <i class="medium mdi-action-star-rate"></i>
                            </a>
                        </h4>
                    </span>
                        <hr ng-class="classesColors[currentClassName]" style="height: 2px;border:none"/>
                        <div ng-bind-html="spell.description | sanitize"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
