/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';
@import 'animations.less';
@import 'classes.less';

/* Mobile hiding/showing */
.hide-m {
  display: none;
}

.show-m {
  display: block;
}

/* Laptop hiding/showing */
@media screen and (min-width: 768px) {
  .hide-l {
    display: none;
  }

  .show-l {
    display: block;
  }

}

/* Desktop hiding/showing */
@media screen and (min-width: 992px) {
  .hide-d {
    display: none;
  }

  .show-d {
    display: block;
  }

}

.header {
  color: #ee6e73;
  font-weight: 300;
}

a.favourite-icon {
  color: #626262;
}

a.favourite-icon:hover {
  color: #ffd8a6;
}

.favourite-icon-active {
  color: #ffab40;
}

.favourite-icon-active:focus {
  color: #ffd8a6;
}



a.favourite-icon-active {
  color: #ffab40;
}

a.favourite-icon-active:focus {
  color: #ffd8a6;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.nopadding {
  padding: 0 !important;
}

.full-width {
  width: 100%;
}

.brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

.old-card {
  background: url("/assets/spells/old_paper.png");
}