<div>
    <div id="{{name}}" class="carousel slide show-d hide-m hide-l" data-interval="false" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item hideable-item" ng-class="{active: slides[0] == slide}" ng-repeat="slide in slides">
                <div class="row" style="margin: auto;">
                    <div class="col-md-3" ng-repeat="advert in slide">
                        <advert-thumbnail advert="advert" toggle="toggle" open="open"/>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#{{name}}" prevent-redirect data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#{{name}}" prevent-redirect data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div id="{{name}}-l" class="carousel slide hide-d hide-m show-l" data-interval="false" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item hideable-item" ng-class="{active: largeSlides[0] == slide}" ng-repeat="slide in largeSlides">
                <div class="row" style="margin: auto;">
                    <div class="col-sm-6" ng-repeat="advert in slide">
                        <advert-thumbnail advert="advert" toggle="toggle" open="open"/>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#{{name}}-l" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#{{name}}-l" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div id="{{name}}-m" class="carousel slide hide-d show-m hide-l" data-interval="false" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item hideable-item" ng-class="{active: mobileSlides[0] == slide}" ng-repeat="slide in mobileSlides">
                <div class="row" style="margin: auto;">
                    <div class="col-xs-18" ng-repeat="advert in slide">
                        <advert-thumbnail advert="advert" toggle="toggle" open="open"/>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#{{name}}-m" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#{{name}}-m" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>



