<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{advert.dealerName}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <h3>{{advert.mmtMakeDescription}}</h3>

                    <h3>{{advert.mmtTypeDescription}}</h3>
                    <h4>
                        <span class="label label-default">{{advert.mmtType.mmtGearbox.groupMessageKey}}</span>
                        <span class="label label-default">{{advert.bodyGroupMessageKey}}</span>
                        <span class="label label-default">{{advert.mmtType.mmtFuel.groupMessageKey}}</span>
                        <span class="label label-default">{{advert.mmtType.mmtDrive.groupMessageKey}}</span>
                        <span class="label label-default">{{advert.mmtType.cylVolumeCcm}}</span>
                    </h4>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="http://420placehold.it/cars/400-150" alt=""
                         class="img-responsive">
                    <dl class="dl-horizontal">
                        <dt>Registration Number:</dt>
                        <dd>{{advert.registrationNumber}}</dd>
                        <dt>Registration Date:</dt>
                        <dd>{{advert.registrationDate}}</dd>
                        <dt>Mileage:</dt>
                        <dd>{{advert.mileage}}</dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading no-vertical-padding">
                            <div class="panel-title">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 alert-danger nopadding">
                                        <h4 class="text-center">Spot price: {{advert.spotPrice.value}}$</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 alert-success nopadding">
                                        <h4 class="text-center">Policy price: +{{advert.policyPrice}}$</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <strong class="pull-right">{{advert.askingPrice}}</strong>
                                            Asking price:
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a data-toggle="collapse" href="#collapseSpotPrice" prevent-redirect
                                               aria-expanded="true" aria-controls="collapseSpotPrice">
                                                <strong class="pull-right">{{advert.spotPrice.value}}</strong>
                                                Spot price
                                            </a>
                                        </div>
                                    </div>
                                    <ul id="collapseSpotPrice" class="list-group collapse">
                                        <li class="list-group-item" ng-repeat="detail in advert.spotPrice.details">
                                            <strong class="pull-right">{{detail.value}}</strong>
                                            {{detail.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h4>Pricing policy applied:</h4>
                            <dl class="dl-horizontal">
                                <dt>Policy target (£):</dt>
                                <dd>{{advert.appliedRule.lowPriceSpot}} - {{advert.appliedRule.highPriceSpot}}</dd>
                                <dt>Policy target (%):</dt>
                                <dd>{{advert.appliedRule.lowTargetPriceArea}} -
                                    {{advert.appliedRule.highTargetPriceArea}}
                                </dd>
                                <dt>Pricing policy used:</dt>
                                <dd>{{advert.appliedRule.typeDescription}}</dd>
                                <dt>Pricing policy targets:</dt>
                                <dd>{{advert.appliedRule.lowDaysAdvertised}} - {{advert.appliedRule.highDaysAdvertised}}
                                    Days advertised
                                </dd>
                            </dl>
                            <div id="priceHistoryChartId" fc-chart
                                 chart-id="1"
                                 width="100%" height="80" graph-type="HLinearGauge">
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingLiveKpi">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <a tooltip data-toggle="tooltip" data-placement="top" title="Go to Radar"
                                               class="icon-large icon-wifi-alt" href="{{advert.radarLink}}"></a>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h3>
                                                <span tooltip class="label label-success" data-toggle="tooltip"
                                                      data-placement="top" title="Similar">{{advert.similarities.similar}}</span>
                                                <span tooltip class="label label-warning" data-toggle="tooltip"
                                                      data-placement="top" title="Pretty similar">{{advert.similarities.prettySimilar}}</span>
                                                <span tooltip class="label label-danger" data-toggle="tooltip"
                                                      data-placement="top" title="Not similar">{{advert.similarities.otherwise}}</span>
                                            </h3>

                                            <h3>Adverts within <strong>{{advert.radius}}</strong> miles of:
                                                <span tooltip data-toggle="tooltip" data-placement="top"
                                                      title="Post code"><strong>{{advert.postCode}}</strong></span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="{{portalItem.url}}" class="list-group-item"
                                       ng-repeat="portalItem in advert.portalImages">
                                        <img src="{{portalItem.url}}" alt="">
                                        <span class="badge">{{portalItem.count}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Days advertised:</dt>
                                <dd>{{advert.daysAdvertised}}</dd>
                                <dt>Days at this price:</dt>
                                <dd>{{advert.daysAtCurrentPrice}}</dd>
                                <dt>Average days to sell:</dt>
                                <dd>{{advert.advertSpotPrice.averageSellingDays}}</dd>
                            </dl>
                            <div id="daysAdvertisedChartId" fc-chart
                                 chart-id="2"
                                 width="100%" height="60" graph-type="HLinearGauge">
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Change history</th>
                                <th>{{advert.advertPriceHistories.length}} changes ({{priceChangeDiff}})</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entry in advert.advertPriceHistories">
                                <td>{{entry.changed}} {{entry.priceHistoryType.messageKey}}</td>
                                <td>{{entry.newPrice - entry.oldPrice}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group pull-right">
                <responsive-button title="Print" icon="glyphicon-print" btn-class="btn-default"></responsive-button>
                <button class="btn btn-warning">Hide</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


</div>
