<h1>Filters</h1>

<div class="row">
    <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-advert">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-advert" aria-expanded="true"
                           prevent-redirect
                           aria-controls="collapse-advert" style="text-transform: capitalize">
                            advert
                        </a>
                    </h4>
                </div>
                <div id="collapse-advert" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="heading-advert">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="filters-container">
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedAdvertStatuses"
                                         ms-header="Advert status"
                                         options="item as item.name for item in advertStatuses"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <range-slider id="daysAtThisPriceRange" title="Days at this price"
                                              value-options="daysAtThisPriceOptions"></range-slider>
                            </div>
                            <div class="col-md-6">
                                <range-slider id="daysAdvertisedRange" title="Days advertised" value-options="daysAdvertisedOptions"></range-slider>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <range-slider id="numberOfPriceChangesrange" title="Number of price changes"
                                              value-options="numberOfPriceChangesOptions"></range-slider>
                            </div>
                            <div class="col-md-6">
                                <range-slider id="askingPriceRange" title="Asking price"
                                              value-options="askingPriceOptions"></range-slider>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="filters-container">
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedPortals"
                                         ms-header="Portal"
                                         options="item as item.name for item in portals"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="filters-container">
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedDealershipLocations"
                                         ms-header="Dealerships"
                                         options="item as item.name for item in dealershipLocations"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-vehicle">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-vehicle" aria-expanded="true"
                           prevent-redirect
                           aria-controls="collapse-vehicle" style="text-transform: capitalize">
                            vehicle
                        </a>
                    </h4>
                </div>
                <div id="collapse-vehicle" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading-vehicle">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <range-slider id="mileageRange" title="Mileage" value-options="mileageOptions"></range-slider>
                            </div>
                            <div class="col-md-6">
                                <range-slider id="numberofDoorsRange" title="Number of doors" value-options="numberOfDoorsOptions"></range-slider>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <range-slider id="ageRange" title="Age"
                                              value-options="ageOptions"></range-slider>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified filters-container" role="group" aria-label="mmtButtonGroup">
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedBodies"
                                         ms-header="Body"
                                         options="item as item.name for item in bodies"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedGearboxes"
                                         ms-header="Gearbox"
                                         options="item as item.name for item in gearboxes"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedFuels"
                                         ms-header="Fuel"
                                         options="item as item.name for item in fuels"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedDrives"
                                         ms-header="Drive"
                                         options="item as item.name for item in drives"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group btn-group-justified filters-container" role="group" aria-label="makeModelButtonGroup">
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedMakes"
                                         ms-header="Make"
                                         options="item as item.name for item in makes"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                    <div multiselect class="btn-group"
                                         btn-class="btn-default btn-block"
                                         style="width:100%"
                                         ng-model="selectedModels"
                                         ms-header="Model"
                                         options="item as item.name for item in models"
                                         data-multiple="true"
                                         data-compare-by="id"
                                         scroll-after-rows="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-location">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-location" aria-expanded="true"
                           prevent-redirect
                           aria-controls="collapse-location" style="text-transform: capitalize">
                            Location
                        </a>
                    </h4>
                </div>
                <div id="collapse-location" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading-location">
                    <div class="panel-body">
                        <form class="form center-block">
                            <div class="form-group input-group floating-label-form-group">
                                <label for="radiusInput">Radius (km)</label>
                                <input id="radiusInput" type="text" class="form-control" placeholder="Radius (km)">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-road" aria-hidden="true"></span></span>
                            </div>
                            <div class="form-group input-group floating-label-form-group">
                                <label for="postCode">Post code</label>
                                <input id="postCode" class="form-control" placeholder="Post code">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                            </div>
                            <div class="form-group">
                                <div multiselect class="btn-group"
                                     btn-class="btn-default btn-block"
                                     style="width:100%"
                                     ng-model="selectedRegions"
                                     ms-header="Region"
                                     options="item as item.name for item in regions"
                                     data-multiple="true"
                                     data-compare-by="id"
                                     scroll-after-rows="5">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="saved-search-heading-advert">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           href="#saved-search-collapse-advert"
                           prevent-redirect
                           aria-controls="saved-search-collapse-advert" style="text-transform: capitalize">
                            Saved searches
                        </a>
                    </h4>
                </div>
                <div id="saved-search-collapse-advert" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="saved-search-heading-advert">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Control
                            </th>
                        </tr>
                        <tbody>
                        <tr>
                            <td>My search 1</td>
                            <td>
                                <button class="btn btn-primary btn-sm">Load</button>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="btn-group btn-group-justified" style="margin-bottom: 10px" role="group" aria-label="filterSearchButtonGroup">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Reset</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Save</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="well well-sm">
            <span class="tag label label-default" ng-repeat="tag in tags">
                <span>{{tag.label}}</span>
                 <a><i class="glyphicon glyphicon-remove" ng-click="removeTag(tag)"></i></a>
            </span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="heading-searchResults">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-searchResults" aria-expanded="true"
                       prevent-redirect
                       aria-controls="collapse-searchResults" style="text-transform: capitalize">
                        search results
                    </a>
                </h4>
            </div>
            <div id="collapse-searchResults" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-searchResults">
                <div class="panel-body only-top-padding">
                    <div role="tabpanel" style="margin-left: -1px">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active"><a href="#carousel-tab-searchResults" prevent-redirect data-toggle="tab">Carousel view</a></li>
                            <li><a href="#grid-tab-searchResults" prevent-redirect data-toggle="tab">Grid view</a></li>
                            <li><a href="#table-tab-searchResults" prevent-redirect data-toggle="tab">Table view</a></li>
                        </ul>
                        <div class="tab-content" style="margin-top: 10px">
                            <div class="tab-pane fade in active" id="carousel-tab-searchResults">
                                <advert-carousel adverts="searchResults" toggle="toggle" name="searchResults">
                                </advert-carousel>
                            </div>
                            <div class="tab-pane fade" id="grid-tab-searchResults">
                                <advert-grid adverts="searchResults" toggle="toggle" name="searchResults">
                                </advert-grid>
                            </div>
                            <div class="tab-pane fade" id="table-tab-searchResults">
                                <advert-table adverts="searchResults" toggle="toggle" name="searchResults">
                                </advert-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



