<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppController">
<head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>
    <header></header>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="container">
            <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
    <div ui-view="main">
    </div>
</body>

</html>
